@model calismaOrm.Models.Kategori
<form  method="post">
    <h2>Yeni Kategori Oluştur</h2>
    <div class="row">
        <label asp-for="KategoriAdi"></label>
        <input asp-for="KategoriAdi" class="form-control" />
    </div>
    <div class="row my-2">
     <div class="col-6"><button type="submit"
  class="btn btn-primary">Kaydet</button></div>
<div class="col-6"><a asp-controller="Kategori" 
 asp-action="Index" class="btn btn-primary">
 Kategori Listesime Dön</a></div>
    </div>
</form>
